.comments-container {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;

}

.comment-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-family: 'Montserrat', sans-serif;

  font-weight: bold;
}

.comment-text {
  margin-top: 5px;
  font-size: 14px;
}
